    <footer>
        <section class="fbutton">
        <a href="../sobre">
            SOBRE A <img src="/images/logo-mini.svg" alt="Mini Logo DO$">
        </a>
        <a href="../contato">
            FALE CONOSCO
        </a>
        <a href="../trabalheconosco">
            TRABALHE CONOSCO
        </a>
        <a href="../faq">
            FAQ
        </a>
        </section>
        <section class="mlogo">
        <a href="/"><img src="/images/logo-mini.svg" alt="Mino Logo DO$"></a>
        </section>

        <section class="fmobile">
            <div class="fmenu">
                <p>Menu</p>
                <div class="contentfmenu">
                    <a href="/usuario/login">Login</a>
                    <a href="">Categorias</a>
                    <a href="../sobre">Sobre</a>
                    <a href="../contato">Fale Conosco</a>
                    <a href="../trabalheconosco">Trabalhe Conosco</a>
                    <a href="../faq">FAQ</a>
                </div>
            </div>
            <a href="#">Voltar ao Topo</a>
        </section>
    </footer>

</body>

</html>