<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="shortcut icon" href="/icon/favicon.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

<body>

    <header>
    <section class="header-principal">
      <div class="logo">
        <a href="/"><img src="/images/logo.png" alt="Logo DO$"></a>
      </div>
      <div class="busca">
        <p>Pesquise sua marca/produto:</p>
        <input type="text" id="campobusca">
        <a href="/resultadobusca" id="botaobuscar"><img src="/images/search-icon.png" alt="search"></a>
      </div>
      <div class="hbutton">
        <div>
          <% if(typeof(usuario) != 'undefined') { %>
            <a href="/cliente#inicio">
              <% if (usuario.fotoPerfil != null) { %>
                <img src=<%=usuario.fotoPerfil %> class="fotoPerfil" alt="login">
              <% } else { %>
                <img src='/images/login.svg' alt="login">
              <% } %>
            <p><%= usuario.nome %></p>
          <% } else { %>
            <a href="/login">
            <img src='/images/login.svg' alt="login">
            <p>LOG IN</p>
          <% } %>
          </a>
        </div>
        <div>          
            <a href="/cadastroloja">
            <img src="/images/lojista.svg" alt="login lojista">
            <p>VENDA CONOSCO</p>
            </a>
        </div>
        <div>
          <a href="/carrinho">
          <img src="/images/carrinho.svg" alt="carrinho">
          <p>SEU CARRINHO</p>
          </a>
        </div>
      </div>
    </section>

    <section class="buscamobile">
      <p>busca:</p>
      <input type="text" id="campobuscamobile">
      <a href="/resultadobusca" id="botaobuscarmobile"><img src="/images/search-icon.png" alt="search"></a>
    </section>
    
    <script src="scripts/busca.js"></script>

    </header>
    
    <section class="header-menu">
        <a href="/resultadobusca?categoria=roupas">
          ROUPAS
        </a>
        <a href="/resultadobusca?categoria=livros">
          LIVROS
        </a>
        <a href="/resultadobusca?categoria=calçados">
          CALÇADOS
        </a>
        <a href="/resultadobusca?categoria=acessórios">
          ACESSÓRIOS
        </a>
        <a href="/resultadobusca?categoria=casa">
          PARA A CASA
        </a>
        <a href="/resultadobusca?categoria=esporte">
          ESPORTE
        </a>
      </section>