<section class="processo-da-compra">
    <div class="menu-carrinho">
        <a class="sacola" href="/carrinho/sacola">Sacola</a>
        <a class="identificacao" href="/carrinho/identificacao">Identificação</a>
        <a class="entrega" href="/carrinho/entrega">Entrega</a>
        <a class="pagamento" href="/carrinho/pagamento">Pagamento</a>
    </div>
</section>