<%- include('./partials/header') %>

  <main>
    <section class="containergeral">
      <h1>Sucesso!</h1>
      <p>Seu pedido foi realizado com sucesso!</p>
    </section>
  </main>

<%- include('./partials/footer') %>