<%- include('./partials/head') %>
</head>

<%- include('./partials/header') %>

  <main>
    <section class="containergeral">
        <h1>Dúvidas Comuns</h1>
        <strong>1) Esta loja é Confiável?</strong>
        <p>Tanto a Digital Outlet quanto seus parceiros seguem rigorosos padrões de segurança e confiabilidade, sempre buscando atender nossos clientes da melhor maneira possível</p>
        <strong>2) Por que comprar na Digital Outlet?</strong>
        <p>Na Digital Outlet você encontra as melhores marcas e produtos, sob uma plataforma digital pela qual proporcionamos aos nossos clientes o que há de melhor em qualidade, praticidade e preço!</p>
        <strong>3) Por que devo colocar meu produto na Digital Outlet?</strong>
        <p>Sendo uma plataforma onde se encontra diversas marcas de qualidade, além de aliar o seu produto a uma plataforma confiável, você conseguirá um aumento no número de vendas com  o marketing interno automático da Digital Outlet, além de economizar na criação de website próprio e outros meios digitais necessários para o comércio virtual.</p>
        <strong>4) Qual é a política de troca da Digital Outlet?</strong>
        <p>Nós pregamos o bom atendimento e seguimos à risca os direitos do consumidor, com foco na comodidade proporcionada por um marketplace online.</p>
        <strong>5) Posso trabalhar na Digital Outlet?</strong>
        <p>Certamente! Nossa equipe de Head Hunters está sempre atenta para todos os talentos que possam fazer parte da nosso time. Para trabalhar conosco, <a href="">clique aqui</a>.</p>
        <strong>6) Como surgiu a Digital Outlet?</strong>
        <p>A idéia para a criação de um marketplace surgiu do curso Web Full Stack da Digital House.</p>
        <strong>7) Como foi criada a plataforma da Digital Outlet?</strong>
        <p>Nossa plataforma foi criada usando React, SQL e Node.js.</p>
        <strong>8) Foi uma experiência boa criar a plataforma da Digital Outlet?</strong>
        <p>Por todos os deuses, esperamos que sim!</p>
    </section>
  </main>

<%- include('./partials/footer') %>