<%- include('./partials/head') %>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<%- include('./partials/header') %>

  <main class="login">
    <section class="containergeral">
        <h1>Seja Bem Vindo</h1>
        <p>Preencha os campos abaixo:</p>
        <form action="/login" method="POST">
            <div class="formrow">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email">
            </div>
            <div class="formrow">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha">
            </div>
            <button type="submit" id="submit">Entrar</button>
        </form>
        <p>Não é cadastrado?<a href="/cadastro"> Cadastre-se aqui!</a></p>
        <p>Quer ser nosso parceiro?<a href="/cadastroloja"> Cadastre-se aqui!</a></p>
    </section>
  </main>

<script src="/scripts/validateLogin.js"></script>

<%- include('./partials/footer') %>