<%- include('./partials/header') %>

  <main class="paginaloja">
    <section class="containergeral">
            <h1 class="bemvindo">Suas vendas estão a todo vapor!</h1>
            <div class="containersecundario">
                <div class="menu-loja">
                    <a href="#resumo">Pedidos da Loja</a>
                    <a href="./cadastroproduto">Adicione um Produto</a>
                    <a href="#listaprodutos">Meus Produtos</a>
                    <a href="#dados">Alterar Dados Cadastrais</a>
                    <a href="#enderecos">Endereços</a>
                </div>
                <div class="containerterciario" id="resumo">
                    <div class="faturadorecentemente">
                        <p><b>Faturado Recentemente:</b></p>
                        <div class="containerinfo">   
                            <div class="hoje">
                                <p>Hoje:</p>
                                <div class="infocard">                              
                                    <div class="info">
                                        <p>Calça Bege ---- São Paulo/SP ---- R$ 100,00</p>
                                        <p>Participação  <img src="/images/logo-mini.svg" alt="mini logo"> --- <ins style="color:red;">$ 10,00</ins></p>
                                        <p>Total Lojista --- <ins style="color: greenyellow;">$ 90,00</ins></p>
                                    </div>
                                    <div class="info">
                                        <p>Calça Bege ---- São Paulo/SP ---- R$ 100,00</p>
                                        <p>Participação  <img src="/images/logo-mini.svg" alt="mini logo"> --- <ins style="color:red;">$ 10,00</ins></p>
                                        <p>Total Lojista --- <ins style="color: greenyellow;">$ 90,00</ins></p>
                                    </div>
                                    <div class="info">
                                        <p>Calça Bege ---- São Paulo/SP ---- R$ 100,00</p>
                                        <p>Participação  <img src="/images/logo-mini.svg" alt="mini logo"> --- <ins style="color:red;">$ 10,00</ins></p>
                                        <p>Total Lojista --- <ins style="color: greenyellow;">$ 90,00</ins></p>
                                    </div>
                                </div>
                            </div>
                            <div class="estasemana">
                                <p>Esta Semana:</p>
                                <div class="infocard">                              
                                    <div class="info">
                                        <p>Calça Bege ---- São Paulo/SP ---- R$ 100,00</p>
                                        <p>Participação  <img src="/images/logo-mini.svg" alt="mini logo"> --- <ins style="color:red;">$ 10,00</ins></p>
                                        <p>Total Lojista --- <ins style="color: greenyellow;">$ 90,00</ins></p>
                                    </div>
                                    <div class="info">
                                        <p>Calça Bege ---- São Paulo/SP ---- R$ 100,00</p>
                                        <p>Participação  <img src="/images/logo-mini.svg" alt="mini logo"> --- <ins style="color:red;">$ 10,00</ins></p>
                                        <p>Total Lojista --- <ins style="color: greenyellow;">$ 90,00</ins></p>
                                    </div>
                                    <div class="info">
                                        <p>Calça Bege ---- São Paulo/SP ---- R$ 100,00</p>
                                        <p>Participação  <img src="/images/logo-mini.svg" alt="mini logo"> --- <ins style="color:red;">$ 10,00</ins></p>
                                        <p>Total Lojista --- <ins style="color: greenyellow;">$ 90,00</ins></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="resumopedidos">
                        <p><b>Resumo dos Pedidos:</b></p>
                        <div class="containerinfo">
                            <div class="info">
                                <p>Total de Pedidos Hoje:</p>
                                <p>Total Faturado Hoje:</p>
                                <p>Total de Pedidos no mês:</p>
                                <p>Total Faturado no Mês:</p>
                            </div>
                            <div class="info">
                                <p>47</p>
                                <p>R$ 4.700,00</p>
                                <p>578</p>
                                <p>R$ 57.800,00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="containerterciario" id="listaprodutos">
                    <p><b>Seus produtos:</b></p>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Id do Produto</th>
                                <th scope="col">Produto</th>
                                <th scope="col">Marca</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Preço</th>
                                <th scope="col">Desconto</th>
                                <th scope="col">Em Estoque</th>
                                <th scope="col">Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Calça Bege</td>
                                <td>Calças AÊ</td>
                                <td>Roupas</td>
                                <td>R$ 110,00</td>
                                <td>10%</td>
                                <td>100</td>
                                <td><a href="/produto"><img src="icon/carrinho-editar.png" alt=""></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="containerterciario" id="dados">
                    <p><b>Altere seus dados aqui:</b></p>
                    <form action="" method="" class="alteradadosloja">
                        <div class="formrow">
                            <label for="email">E-mail:</label>
                            <input type="email" id="email" name="email">
                        </div>
                        <div class="formrow">
                          <label for="razaosocial">Razão Social:</label>
                          <input type="text" id="razaosocial" name="razaosocial">
                        </div>
                        <div class="formrow">
                          <label for="nomefantasia">Nome Fantasia:</label>
                          <input type="text" id="nomefantasia" name="nomefantasia">
                        </div>
                        <div class="formrow">
                          <label for="ie">Inscrição Estadual:</label>
                          <input type="text" id="ie" name="ie">
                        </div>
                        <div class="formrow">
                          <label for="cnpj">C.N.P.J.:</label>
                          <input type="text" id="cnpj" name="cnpj">
                        </div>
                        <div class="formrow">
                            <label for="password">Alterar Senha:</label>
                            <input type="password" id="password" name="password">
                        </div>
                        <div class="formrow">
                          <label for="confirmapassword">Confirmar Nova Senha:</label>
                          <input type="password" id="confirmapassword" name="confirmapassword">
                        </div>
                        <button type="submit">Alterar</button>
                    </form>
                </div>
                <div class="containerterciario" id="enderecos">
                    <p><b>Seus Endereços:</b></p>
                    <ul>
                        <li>Rua José da Silva, 320, São Paulo/SP <button>excluir</button></li>
                    </ul>
                    <p><b>Adicione Aqui um Endereço:</b></p>
                    <form action="" class="cadastrousuario">
                        <div class="formrow">
                          <label for="logradouro">Logradouro:</label>
                          <input type="text" id="logradouro" name="logradouro">
                        </div>
                        <div class="formrow">
                          <label for="numero">Número:</label>
                          <input type="number" id="numero" name="numero">
                        </div>
                        <div class="formrow">
                          <label for="complemento">Complemento:</label>
                          <input type="text" id="complemento" name="complemento">
                        </div>
                        <div class="formrow">
                          <label for="cidade">Cidade:</label>
                          <input type="text" id="cidade" name="cidade">
                        </div>
                        <div class="formrow">
                          <label for="estado">Estado:</label>
                          <input type="text" id="estado" name="estado">
                        </div>
                        <div class="formrow">
                          <label for="cep">CEP:</label>
                          <input type="number" id="cep" name="cep">
                        </div>
                        <button type="submit">Cadastrar Novo Endereço</button>
                      </form>
                </div>
            </div>
    </section>
  </main>

<%- include('./partials/footer') %>