<%- include('./partials/head') %>
</head>

<%- include('./partials/header') %>

  <main>
    <section class='containergeral'>
        <h1>Sobre a <img src="/images/Digital-Outlet-$.png" alt="Digital Outlet $"></h1>
        <div class="missao">
            <h2>Missão da <img src="/images/logo-mini.svg" alt="DO$"></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lacinia mattis tincidunt. Nulla egestas ultrices varius. Vestibulum sed arcu velit. Nunc sagittis varius nunc, vitae pretium sem finibus eleifend. Integer laoreet eget tellus eget imperdiet. Praesent vulputate dapibus ante, sit amet auctor neque volutpat quis. Aenean eu rhoncus sem. Duis ac tempor metus, nec elementum diam. Integer in dapibus mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean sed consequat turpis. Phasellus finibus mauris sit amet tellus aliquet, nec aliquam magna finibus. Aliquam malesuada felis vel magna consectetur, ut efficitur erat iaculis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        </div>
        <div class="missao">
            <h2>Nossa Visão</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lacinia mattis tincidunt. Nulla egestas ultrices varius. Vestibulum sed arcu velit. Nunc sagittis varius nunc, vitae pretium sem finibus eleifend. Integer laoreet eget tellus eget imperdiet. Praesent vulputate dapibus ante, sit amet auctor neque volutpat quis. Aenean eu rhoncus sem. Duis ac tempor metus, nec elementum diam. Integer in dapibus mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean sed consequat turpis. Phasellus finibus mauris sit amet tellus aliquet, nec aliquam magna finibus. Aliquam malesuada felis vel magna consectetur, ut efficitur erat iaculis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        </div>
        <div class="missao">
            <h2>Crenças e Valores</h2>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Phasellus lacinia mattis tincidunt.</li>
                <li>Nulla egestas ultrices varius. Vestibulum sed arcu velit.</li>
                <li>Nunc sagittis varius nunc, vitae pretium sem finibus eleifend.</li>
            </ul>
        </div>
        <div class="missao">
            <h2>Colaboradores</h2>
            <div class="colaboradores">
                <a href="https://github.com/Enyus" target="_blank">
                    <img src='https://github.com/Enyus.png' class="fotoPerfil" alt="Cássio">
                    <p><b>Cássio Santini</b></p>
                </a>
                <a href="https://github.com/FlavioFLV" target="_blank">
                    <img src='https://github.com/FlavioFLV.png' class="fotoPerfil" alt="Flávio">
                    <p><b>Flávio Prado</b></p>
                </a>
                <a href="https://github.com/agabitoledo" target="_blank">
                    <img src='https://github.com/agabitoledo.png' class="fotoPerfil" alt="Gabrielle">
                    <p><b>Gabrielle Toledo</b></p>
                </a>
                <a href="https://github.com/stehames" target="_blank">
                    <img src='https://github.com/stehames.png' class="fotoPerfil" alt="Stéphanie">
                    <p><b>Stéphanie Ames</b></p>
                </a>
            </div>
        </div>
    </section>
  </main>

<%- include('./partials/footer') %>