<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho - Identificação</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/carrinho-sacola.css">
    <link rel="stylesheet" href="/stylesheets/carrinho-identificacao.css">

</head>

<body>
    <header>
        <section class="header-principal">
            <div class="logo">
                <a href="/"><img src="/images/logo.png" alt="Logo DO$"></a>
            </div>
            <div class="busca">
                <p>Pesquise sua marca/produto:</p>
                <input type="text">
                <a href="/resultadobusca"><img src="/images/search-icon.png" alt="search"></a>
            </div>
            <div class="hbutton">
                <div>
                    <a href="/usuario/login">
                        <img src='/images/login.svg' alt="login">
                        <p>LOG IN</p>
                    </a>
                </div>
                <div>
                    <a href="../cadastroloja">
                        <img src="/images/lojista.svg" alt="login lojista">
                        <p>VENDA CONOSCO</p>
                    </a>
                </div>
                <div>
                    <a href="../carrinho">
                        <img src="/images/carrinho.svg" alt="carrinho">
                        <p>SEU CARRINHO</p>
                    </a>
                </div>
            </div>
        </section>

        <section class="buscamobile">
            <p>busca:</p>
            <input type="text">
            <a href="/resultadobusca"><img src="/images/search-icon.png" alt="search"></a>
        </section>
    </header>
    <section class="header-menu">
        <a href="">
            ROUPAS
        </a>
        <a href="">
            LIVROS
        </a>
        <a href="">
            CALÇADOS
        </a>
        <a href="">
            ACESSÓRIOS
        </a>
        <a href="">
            PARA A CASA
        </a>
        <a href="">
            ESPORTE
        </a>
    </section>

    <main class="carrinho-sacola">
        <section class="processo-da-compra">
            <div>
                <a class="sacola" href="/compra/sacola">Sacola</a>
                <a class="identificacao" href="/compra/identificacao">Identificação</a>
                <a class="entrega" href="/compra/entrega">Entrega</a>
                <a class="pagamento" href="#">Pagamento</a>
            </div>
        </section>
        <section class="dados-pessoais">
            <div >
                <form>
                    <div class="formrow">
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" />
                    </div>
                    <div class="formrow">
                        <label for="email">E-mail:</label>
                        <input type="email" id="email" />
                    </div>
                    <div class="formrow">
                        <label for="msg">Mensagem:</label>
                        <textarea id="msg"></textarea>
                    </div>
                </form>
            </div>
        </section>
        <section>
            <div class="resumo-compra">
                <p>Teste</p>
            </div>
        </section>
    </main>

</body>

</html>