<%- include('./partials/header') %>

  <main class="carrinho">
    <section class="processo-da-compra">
        <div>
            <a href="#">Sacola</a>
            <a href="#">Identificação</a>
            <a href="#">Entrega</a>
            <a href="#">Pagamento</a>
        </div>
    </section>
    <section>
        <div>
            <table>
                <tr>
                    <td>Produto(s)</td>
                    <td>Frete</td>
                    <td>Valor</td>
                    <td>Quantidade</td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <div>
                                <img src="" alt="">
                                <p>Calça bege</p>
                            </div>
                            <div>
                                <h3>CALÇA BEGE - M</h3>
                                <h4>Tamanho:</h4>
                                <h4>Cor:</h4>
                                <a href="#">Editar</a>
                            </div>
                        </div>
                    </td>
                    <td>a calcular</td>
                    <td>R$ 100,00</td>
                    <td>
                        <img src="" alt="">
                        <p class="qtd"></p>
                        <img src="" alt="">
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <section>
        <div>
            <h3>Resumo</h3>
            <div>
                <a href="">Entrega</a>
                <a href="">Returar na loja</a>
            </div>
            <div>
                <input type="text" placeholder="Insira seu CEP">
                <button type="submit">OK</button>
                <a href="">Não sei o CEP</a>
            </div>
            <div>
                <div>
                    <p>Subtotal</p>
                    <p>Taxa de entrega</p>
                    <p>Total</p>
                </div>
                <div>
                    <p>R$ 100,00</p>
                    <p>a calcular</p>
                    <p>R$ 100,00</p>
                </div>
                <div>
                    <button type="submit">Finalizar Compra</button>
                    <button type="submit">CONTINUAR COMPRANDO</button>
                </div>
            </div>
        </div>
    </section>
  </main>

<%- include('./partials/footer') %>